# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# production
/build
/package
/firefox/build
/firefox/how-to-recorder-firefox.xpi

# CI/CD artifacts
*.crx
*.zip
key.pem
server/cert.pem
CHANGELOG.txt

# misc
.DS_Store
.opencode
.ocode
.env.local
.env.development.local
.env.test.local
.env.production.local
.history
*.log

# secrets
secrets.*.jshtcli/htcli
